
@media only screen and (max-width: 600px) {

    body{
    background-image: url('social.jpg');
    background-size:;
        
    }

    .rowTwo{
        height: 27rem;
        
        
        text-align: center;
        vertical-align: middle;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1.5rem;
        
    }

    .clock{

        
        padding-top: 1.5rem;
        font-size: 2rem;
        color:black;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
        
        
    }

    .inset{
        font-size: 0.8rem;
    }

    .days{
        height: 5rem;
        justify-content: center;
        padding-top: 1rem;

    }

    .hours{
        height: 5rem;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }

    .minutes{
        height: 5rem;
        padding-top: 1rem;
    }

    .seconds{
        height: 5rem;
        padding-top: 1rem;
    }

}