
@media only screen and (max-width: 600px) {

    body{
        background-image: url('/cool-background.png');
    }

    .container{
        display: grid;
    }

    .rowTwo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

}