
@media only screen and (max-width: 600px) {

    body{
        background-image: url('/cool-background.png');
        margin: 0px;
    }

    

    .rowTwo{
        height: 27rem;
        
        background-color: hotpink;
        text-align: center;
        vertical-align: middle;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1.5rem;
        
    }

    .clock{

        background-color: greenyellow;
        padding-top: 1.5rem;
        

    }

    .days{
        height: 5rem;
        background-color:blue;
        justify-content: center;
        padding-top: 1rem;

    }

    .hours{
        height: 5rem;
        background-color:red;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }

    .minutes{
        height: 5rem;
        background-color:yellow;
        padding-top: 1rem;
    }

    .seconds{
        height: 5rem;
        background-color: khaki;
        padding-top: 1rem;
    }

}