
@media only screen and (max-width: 600px) {

    body{
        background-image: url('/cool-background.png');
        margin: 0px;
    }

    

    .rowTwo{
        background-color: crimson;
        height: 27rem;
        
    
        text-align: center;
        vertical-align: middle;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1.5rem;
        
    }

    .clock{
        
    }

    .days{
        background-color: chartreuse;
        margin-top: ;
    }

    .hours{
        background-color: chartreuse;
    }

    .minutes{
        background-color: chartreuse;
    }

    .seconds{
        background-color: chartreuse;
    }

}