
@media only screen and (max-width: 600px) {

    body{
    background-image: url('social.jpg');
    
        
    }

    .container{
        height: 100%;
        margin-top: 3.5rem;
        
    }

    .rowTwo{
        height: 100%;
        
        
        text-align: center;
        vertical-align: middle;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: white;
        opacity: 0.65
        
    }

    .clock{

    
        padding-top: 1.5rem;
        font-size: 2rem;
        color:black;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        
        
    }

    .inset{
        font-size: 0.8rem;
        font-weight: lighter;
        
        
    }

    .days{
        height: 5rem;
        justify-content: center;
        margin-top: 0rem;
        

    }

    .hours{
        height: 5rem;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        
    }

    .minutes{
        height: 5rem;
        margin-top: 3rem;
        
    }

    .seconds{
        height: 5rem;
        margin-top: 3rem;
        padding-bottom: 1.5rem;
    }

}